<div class="h-96 p-10">
<table class="table-auto w-full h-full overflow-y-scroll whitespace-nowrap">
  <tr>
    <th>Time</th>
    <th>pity</th>
    <th>name</th>
    <th>rarity</th>
  </tr>
<!--  https://gridjs.io-->
  <tr class="wish-row h-16 font-regular text-gray-300"
      [class.star4]="pull.rank_type == 4" [class.star5]="pull.rank_type == 5"
      *ngFor="let pull of this.pulls; index as i">
    <td class="pl-5 ">{{pull.time}}</td>
    <td>{{pull.rank_type > 3 ? lastPityFrom(pull.rank_type, i) : ''}}</td>
    <td>{{pull.name}}</td>
    <td>{{pull.rank_type}}</td>
  </tr>
</table>
</div>
