<div class="p-8 flex gap-3 w-full justify-center">
  <div (click)="changeLevel('month')" class="border-2 border-secondary rounded-2xl p-2 w-24 text-center hover:border-focus cursor-pointer transition ">
    month
  </div>
  <div (click)="changeLevel('year')" class="border-2 border-secondary rounded-2xl p-2 w-24 text-center hover:border-focus cursor-pointer transition">
    year
  </div>
  <div (click)="changeLevel('total')" class="border-2 border-secondary rounded-2xl p-2 w-24 text-center hover:border-focus cursor-pointer transition ">
    total
  </div>
</div>

<div id="freq-chart" class="w-full"></div>
