<div class="w-full h-screen text-slate-200 font-mono flex flex-col justify-center">
  <div
    class="flex gap-2 w-full h-12 p-4 flex-row items-center shadow-l pt-2 pb-2 m-2 border-2 rounded-2xl border-secondary hover:border-slate-400 hover:shadow-xl transition text-xl"
    routerLink="wish/total">
    <fa-icon [icon]="faEarthEurope"/>
    Total
  </div>

  <app-navbar-item routerLink="wish/standard" [pulls]="getPullForGachaType(1)"
                   [banners]="getBannerForGachaType(1)"></app-navbar-item>
  <app-navbar-item routerLink="wish/event" [pulls]="getPullForGachaType(11)"
                   [banners]="getBannerForGachaType(11)"></app-navbar-item>
  <app-navbar-item routerLink="wish/new" [pulls]="getPullForGachaType(2)"
                   [banners]="getBannerForGachaType(2)"></app-navbar-item>
  <app-navbar-item routerLink="wish/weapon" [pulls]="getPullForGachaType(12)"
                   [banners]="getBannerForGachaType(12)"></app-navbar-item>

  <div
    class="flex gap-2 w-full h-12 p-4 flex-row items-center shadow-l pt-2 pb-2 m-2 border-2 rounded-2xl border-secondary hover:border-slate-400 hover:shadow-xl transition text-xl"
    routerLink="time">
    <fa-icon [icon]="faClock"/> Time tracking
  </div>
</div>

