<aside class="menu bg-primary w-full h-screen flex flex-col justify-center items-center isolate box-shadow" >
  <div class="hover:border-2 hover:transition hover:border-white menu-square bg-secondary flex justify-center items-center text-gray-300 font-regular" routerLink="wish/standard">
    <span class="">standart</span>
  </div>
  <div class="hover:border-2 hover:transition hover:border-white menu-square bg-secondary flex justify-center items-center text-gray-300 font-regular" routerLink="wish/event">
    <span class="">event</span>
  </div>
  <div class="hover:border-2 hover:transition hover:border-white menu-square bg-secondary flex justify-center items-center text-gray-300 font-regular" routerLink="wish/weapon">
    <span class="">weapon</span>
  </div>
  <div class="hover:border-2 hover:transition hover:border-white menu-square bg-secondary flex justify-center items-center text-gray-300 font-regular" routerLink="wish/new">
    <span class="">novichok</span>
  </div>
  <div class="hover:border-2 hover:transition hover:border-white menu-square bg-secondary flex justify-center items-center text-gray-300 font-regular" routerLink="time">
    <span class="">time</span>
  </div>

</aside>
