<div class="w-full h-screen text-slate-200 font-mono flex flex-col justify-center">
  <app-navbar-item routerLink="wish/standard" [pulls]="getPullForGachaType(1)"
                   [banners]="getBannerForGachaType(1)"></app-navbar-item>
  <app-navbar-item routerLink="wish/event" [pulls]="getPullForGachaType(11)"
                   [banners]="getBannerForGachaType(11)"></app-navbar-item>
  <app-navbar-item routerLink="wish/new" [pulls]="getPullForGachaType(2)"
                   [banners]="getBannerForGachaType(2)"></app-navbar-item>
<!--  <app-navbar-item routerLink="wish/new" [pulls]="getPullForGachaType(12)"-->
<!--                   [banners]="getBannerForGachaType(12)"></app-navbar-item>-->
</div>

